

  {% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
      {%for article in source_articles %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
           <img src="{{ article.image }}" alt="image not displayed" class="img-responsive" width="400">

            <h5 class="overview"> {{ article.description|truncate(50)}}</h5>
            <p class="Date"> <b> Published on:{{ article.publishedAt }}</b> </p>


        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}