{% extends 'base.html'%}
{% import 'macros.html' as macro%}


    {% block content %}
    <h2 style="text-align: center;color:tomato">{{heading}}</h2>
    <hr>

    <!-- #Business section -->
    <h3> Business</h3>
    <ul>
        {{ macro.displaySourceList(source_business)}}
    </ul>

    <!-- #Sport section -->
    <h3>sports</h3>
    <ul>
        {{ macro.displaySourceList(sports_sources)}}
    </ul>
    <!-- #Technology section -->
    <h3>Technology</h3>
    <ul>
        {{ macro.displaySourceList(technology_sources)}}
    </ul>
    <!-- #Entertainment -->
        <h3>Entertainment</h3>
    <ul>
        {{ macro.displaySourceList(entertainment_sources)}}
    </ul>
    <!-- #General section -->
        <h3>General</h3>
    <ul>
        {{ macro.displaySourceList(general_sources)}}
    </ul>

    {% endblock%}